 <template>
  <div class="headerbar-right">
      
    </div>
</template>
<script>
export default {
  name: 'app_usermenu',
   data () {
    return {
      login: '',
      password: ''
    }
  },
  methods: {
    logout(){
      this.$localStorage.remove('token')
      location.reload()
    }
  },
  props: {
    msg: String
  }
}
</script>