 
<template>
 <div id="menubar" style="z-index:999" class="menubar-inverse">
    <div class="menubar-fixed-panel">
      <div>
        <a class="btn btn-icon-toggle btn-default menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
          <i class="fa fa-bars"></i>
        </a>
      </div>
    </div>
    <div class="menubar-scroll-panel">
      <ul id="main-menu" class="gui-controls">
        <li class="gui-folder">             
        <a>
            <div class="gui-icon">
              <i class="fa fa-search-plus"></i>
            </div>
            <span class="title">Catálogos</span>
          </a>          
          <!--start submenu -->
          <ul style="overflow: hidden; height: 308px; padding-top: 0px; margin-top: 0px; padding-bottom: 0px; margin-bottom: 0px;">
            <li  class="gui-folder">             
              <a>
               <router-link :to="'GetDevelopers'">Developer</router-link>
              </a>
              <a>
               <router-link :to="'GetEmpresa'">Empresa</router-link>
              </a>

           
            </li>
          </ul>
          <!--end /submenu -->
        </li>
      </ul>

      <div class="menubar-foot-panel">
        <small class="no-linebreak hidden-folded">
          <span class="opacity-75">Copyright &copy; 2020</span>
          <strong>Brayan Reyes </strong>
        </small>
      </div>
    </div>
    <!--end .menubar-scroll-panel-->
  </div>

</template>
<script>
export default {
  name: 'app_menu',
  components:{    
  },
  props: {
    msg: String
  }
}
</script>