<template>
<div id="table-component">
<div class="row">
   <div class="col-md-2">
        <label class="text-muted">{{searchLabel}}</label>   

    </div>
    
    <div v-if="actions.filter" class="col-md-3">       
        <input type="text" class="form-control input-sm" placeholder="Buscar .." v-model="searchString"  v-on:keyup="filterdata()" >
    </div>
    
</div>
<br>
<div class="row">
 <table class="table table-striped">
      <thead>
        <th v-for="(head, x) in headers" :key="x" >{{head}} </th>
        <th v-show="(actions.editar)?true:false">Editar</th>
        <th v-show="(actions.eliminar)?true:false">Eliminar</th>
        <th v-show="(actions.detalle)?true:false">Detalle</th>
        <th v-show="(actions.descargar)?true:false">Descargar</th>
        <th v-show="(actions.recibir)?true:false">Recibir</th>
        <th v-show="(actions.cancelar)?true:false">Cancelar</th>
        <th v-show="(actions.imprimir)?true:false">Imprimir</th>
        <th v-show="(actions.selectProyecto)?true:false">Asignar proyecto</th>    
        <th v-show="(actions.selected)?true:false">Seleccionar</th>
        <th v-show="actions.buscaVendedor">Asignar vendedor</th> 
        <th v-show="actions.selectVendedor">Asignar vendedor</th>

        <th v-show="actions.pdf">PDF</th>
        <th v-show="actions.word">Word</th>             
        <th v-show="actions.confCW">Configurar</th>             

      </thead>
      <tbody>
         <tr v-for="(item, x) in data" :key="x" @click="selectedRow(item)" >
            <td style="text-transform: capitalize" v-for="(prop, index) in item" :key="prop"><span v-if="index !='ischeck'">{{prop}}</span></td>
            <td v-show="(actions.editar )? true:false"><button type="button" @click="editar(item)" class="btn btn-warning btn-sm"><i class="fa fa-edit"></i> Editar</button></td>
            <td v-show="(actions.eliminar )?true:false"><button type="button" @click="eliminar(item)" class="btn btn-danger btn-sm"><i class="fa fa-trash-alt"></i> Eliminar</button></td>
            <td v-show="(actions.detalle)?true:false"><button type="button" @click="detalle(item)" class="btn btn-light btn-sm"><i class="fa fa-eye"></i> Detalle</button></td>
            <td v-show="(actions.descargar)?true:false"><button type="button" @click="descargar(item)" class="btn btn-secondary btn-sm"> <i class="fas fa-download"></i> </button></td>
            <td v-show="(actions.recibir)?true:false"><button type="button" @click="recibir(item)" class="btn btn-success btn-sm"> <i class="fas fa-box"></i> Recibir </button></td>
            <td v-show="(actions.cancelar)?true:false"><button type="button" @click="cancelar(item)" class="btn btn-danger btn-sm"><i class="fas fa-ban"></i> Cancelar</button></td>
            <td v-show="(actions.imprimir)?true:false"><button type="button" @click="imprimir(item)" class="btn btn-white btn-sm"><i class="fas fa-print"></i> Imprimir</button></td>
            <td v-show="(actions.selectProyecto)?true:false"><button type="button" @click="selectProyecto(item)" class="btn btn-success btn-sm"><i class="fas fa-hand-pointer"></i> Asignar</button></td>
            <td v-show="actions.selected"><button type="button" @click="selected(item)" class="btn btn-success btn-sm"><i class="fas fa-check"></i> Seleccionar</button></td>          
            
            <td v-show="actions.buscaVendedor"><button type="button" @click="buscaVendedor(item)" class="btn btn-success btn-sm"><i class="fas fa-hand-pointer"></i> Asignar</button></td>
            <td v-show="actions.selectVendedor"><button type="button" @click="selectVendedor(item)" class="btn btn-success btn-sm"><i class="fas fa-hand-pointer"></i> Asignar</button></td>

            
            <td v-show="actions.pdf"><button type="button" @click="PDF(item)" class="btn btn-danger btn-sm"><i class="fas fa-file-pdf"></i> PDF</button></td>
            <td v-show="actions.word"><button type="button" @click="Word(item)" class="btn btn-primary btn-sm"><i class="fas fa-file-word"></i> Word</button></td>   
            <td v-show="actions.confCW"><button type="button" @click="confCW(item)" class="btn btn-primary btn-sm"><i class="fas fa-cog"></i> Configurar clientes</button></td>   
         </tr>
      </tbody>
  </table>
</div>
<div class="row ">
 <nav aria-label="...">
  <ul class="pagination">
    <li class="page-item "  :class="{ 'disabled':(currentPage==1)}">
      <a class="page-link" href="#" tabindex="-1"   @click="previous()"   >Anterior</a>
    </li>
     <li class="page-item" :key="value" v-for="value in totalPages" :class="{ 'active':(currentPage==value)}">
        <a class="page-link"  href="#" @click="paginate(value)" >{{value}}</a>
    </li>
    <li class="page-item" :class="{ 'disabled':(currentPage==totalPages)}" >
      <a class="page-link" href="#"  @click="next()">Siguiente</a>
    </li>
    
  </ul>
</nav>
    </div>
</div>
</template>
<script>
import { EventBus } from "../event-bus";
const paginate = require("paginate-array");
export default {
  name: "tablecomponent",
  template: "#table-component",
  props: ["tabledata", "headers", "actions", "searchLabel", "filterOptions"],
  data: function() {
    return {
      totalPages: 0,
      total: 0,
      currentPage: 0,
      data: [],
      searchString: ""
    };
  },
  watch: {
    tabledata: function(value) {
      this.obtenDatos(value);
    }
  },
  mounted() {},
  methods: {      
    filterdata() {
      let vm = this
      console.log(this.filterOptions)
      vm.data = this.datosTabla.filter((item) => item[vm.filterOptions].toLowerCase().includes(this.searchString.toLowerCase()) );     
    },
    obtenDatos(value) {
      this.datosTabla = value;
      this.paginate(1);
    },
    paginate: function(PageNumber) {
      const paginateCollection = paginate(this.datosTabla, PageNumber, 5);
      this.totalPages = paginateCollection.totalPages;
      this.total = paginateCollection.total;
      this.currentPage = paginateCollection.currentPage;
      this.data = paginateCollection.data;
      console.log(this.data)
    },
    next() {
      if (this.totalPages>1){
        this.paginate(this.currentPage + 1);
      }

  
        
      
    },
    previous() {
       if (this.totalPages>1){
      this.paginate(this.currentPage -1);
       }
    },
    editar(item) {
      EventBus.$emit("editar", item);
    },
    eliminar(item) {
      EventBus.$emit("eliminar", item);
    },
    detalle(item) {
      EventBus.$emit("detalle", item);
    },
    descargar(item) {
      EventBus.$emit("descargar", item);
    },
    recibir(item) {
      EventBus.$emit("recibir", item);
    },
    cancelar(item) {
      EventBus.$emit("cancelar", item);
    },
    imprimir(item) {
      EventBus.$emit("imprimir", item);
    },
    selectProyecto(item) {
      EventBus.$emit("selectProyecto", item);
    },
    selectedRow(item) {
      EventBus.$emit("selectrow", item);
    },
    selected(item) {
      EventBus.$emit("selected", item);
    },
    PDF(item) {
      EventBus.$emit("PDF", item);
    },
    Word(item) {
      EventBus.$emit("Word", item);
    },
    selectVendedor(item) {
      EventBus.$emit("selectVendedor", item);
    },
     buscaVendedor(item) {
      EventBus.$emit("buscaVendedor", item);
    },
    confCW(item) {
      EventBus.$emit("confCW", item);
    },
  }
};
</script>

<style>
#app {
  text-align: left;
}
.table td,
.table th {
  padding: 1rem;
  font-size: 12px;
  vertical-align: top;
  border-top: 1px solid #e9ecef;
}
</style>
