
<template>
<div>
   <div class="card animated fadeIn fast" style="margin-top:20px;">
	<div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
		<header>
			<strong style="font-weight:bold; border:none; margin-left:10px;">Empresas</strong>
			<br /><small>
             <a href="home#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="home" class="paginaActiva">Catálogo Empresa</a>
            </small>   
		</header>
	</div>
	<div class="card-body">
   
      <div class="col-md-3">
        <div class="col-md-3 col-md-offset-9" style="margin-top:5px;">
        <!-- <button  class="btn btn-success"><i class="fa fa-plus"></i> Agregar</button>-->
        <router-link class="btn btn-success pull-right" to="/Empresa">
        <i class="fa fa-plus"></i> Nuevo
        </router-link>
      </div>
      </div>


      
				<div class="col-md-12" >
       
         <tablecomponent  
         :headers="headers"  
         :tabledata="tabledata" 
         :actions="actions"
         :search-label="'Buscar Empresa'"
         :filter-options="'Nombre'"
         >
         </tablecomponent>	
	</div>
</div>

</div>
</div>
</template>
<script>
import Vue from "vue";
import axios from "axios";
import { open } from "fs";
import tablecomponent from "../../components/table.vue";
import { EventBus } from "../../event-bus";
export default {
  name: "app_vistas",
  data() {
    return {
      headers: ["#", "Nombre"],
      actions: {
        editar: true
      },
      tabledata: [],
      token: 1,
      Estatus:'',
      header: {
        headers: {
          Authorization: "Basic " + this.token
        }
      }
    };
  },

  mounted() {
    this.getProgramadores();
    EventBus.$on("editar", data => {
      this.$router.push({ path: `/EditEmpresa/${data.id}` });
    });
  },
  methods: {
    getProgramadores() {

console.log('llega',)
      let vm = this;
      vm.tabledata = []
      axios.get('http://localhost:64485/SoftvWCFService.svc/SessionWeb/GetEmpresa', this.header).then(res => {
        res.data.GetEmpresaResult.forEach(el => {
          let obj = {
            id: el.Id,
            nombre: el.Nombre,
          };
          vm.tabledata.push(obj);
        });
      });
    }
  },
  components: {
    tablecomponent
  }
};
</script>


























<!--<template>
    <div>
        
    <div class="card animated fadeIn fast" style="margin-top:20px;">
	<div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
		<header>
			<strong style="font-weight:bold; border:none; margin-left:10px;">Programadores</strong>
			<br />
            <small>
            <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="/" class="paginaActiva"> Catálogo Developers</a>
            <div class="col-md-3 col-md-offset-9" style="margin-top:5px; margin">
                <!-- <button  class="btn btn-success"><i class="fa fa-plus"></i> Agregar</button>
                <router-link class="btn btn-success pull-right" to="/Developers">
                <i class="fa fa-plus"></i> Nuevo
                </router-link>
            </div>
            
            
            </small>   

            
		</header>
      </div>
         
		<div class="col-md-12" >
       
         <tablecomponent  
         :headers="headers"  
         :tabledata="tabledata" 
         :actions="actions"
         :search-label="'Buscar Cliente'"
         :filter-options="'nombre'"
         >
         </tablecomponent>	
	</div>
    </div>
    </div>
</template> 

<script>
// import Vue from 'vue';
// import axios from 'axios';
// import Snotify, { SnotifyPosition } from 'vue-snotify';
// import tablecomponent from "../../components/table.vue";
// import { EventBus } from "../../event-bus";

// export default {
//     name: 'addDeveloper',

// data() {
//     return {
//       token: 1,
//       header: {
//         headers: {
//           Authorization: "Basic " + this.token
//         }
//       },
//        Nombre: "",
//        tabledata: []
//     };
//   },
//   mounted(){
//   this.Get();
//   },
//     methods: {
//         Get(){                                                   
//             axios.get('http://localhost:64485/SoftvWCFService.svc/SessionWeb/GetDeveloper',this.header)
//             .then((res) => {       
//                 this.tabledata = res.data.GetDeveloperResult
//                 console.log('trae', this.tabledata);
//             })
//           return;                                                    
//       },
//       regresar(){
//       this.$router.push("/home");
//       }
//     }
// }
// </script>
// <style>
// .pretty input[type="checkbox"] {
//     position: absolute !important;
// }
// </style>