<template>
    <div>
        
    <div class="card animated fadeIn fast" style="margin-top:20px;">
	<div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
		<header>
			<strong style="font-weight:bold; border:none; margin-left:10px;">Edita Empresa</strong>
			<br />
            <small>
            <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="/" class="paginaActiva"> Catálogo Empresas</a>
            </small>   
		</header>
	</div>
    
	<div class="card-body">        
    			<div class="col-md-4 col-md-offset-4" style="padding-top: 10px;">	
                              
                <div class="col-md-12 form-group">
				<font size=4><strong>Nombre</strong></font>
                <div class="row"></div>
                <input type="text" name="nombre" class="text-capitalize form-control" v-model="Nombre" v-validate="'required'">
                <div class="row"></div>
                <i v-show="errors.has('principal.nombre')" class="fa fa-warning"> </i>
                <span v-show="errors.has('principal.nombre')" class="help is-danger text-danger"> El campo nombre es obligatorio</span>
                </div>
                              
                <div class="col-md-12" style="padding:15px; margin-top:15px;">
                    <button @click="Update" class="btn btn-success pull-left" >Registrar <span class="fa fa-check"></span></button>
                    <button @click="regresar" type="button" class="btn btn-default pull-right" >Cancelar <span class="fa fa-sign-out-alt"></span></button>
                </div>
		</div>
	</div>
</div>
    </div>
</template>

<script>
import Vue from 'vue';
import axios from 'axios';
import Snotify, { SnotifyPosition } from 'vue-snotify';

export default {
    name: 'EditDeveloper',
    props: ["id"],

data() {
    return {
      token: 1,
      header: {
        headers: {
          Authorization: "Basic " + this.token
        }
      },
       Nombre: "",
    };
  },
  created() {
    this.GetProgramadoresById();
  },
    methods: {
          Update(){
           axios.post('http://localhost:64485/SoftvWCFService.svc/SessionWeb/UpdateEmpresa'
           ,{Nombre: this.Nombre ,Id: this.$route.params.id },this.header)
            .then((res) => {       
               this.$router.push("/GetEmpresa");
            })
          },

        GetProgramadoresById(){      
                                                       
           
            axios.post('http://localhost:64485/SoftvWCFService.svc/SessionWeb/GetEmpresaById',{ Id: this.$route.params.id },this.header)
            .then((res) => {       
             this.Nombre = res.data.GetEmpresaByIdResult[0].Nombre;   
             console.log('llega', this.Nombre)
            })
      },
      regresar(){
      this.$router.push("/GetEmpresa");
      }
    }
}
</script>
<style>
.pretty input[type="checkbox"] {
    position: absolute !important;
}
</style>